<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>

    <!-- Behavioral Meta Data -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="mightySlider" />
    <meta charset="utf-8" />

    <!-- Apple Touch Icons -->
    <link rel="apple-touch-icon" href="assets/icon/57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="assets/icon/72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="assets/icon/114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="assets/icon/144.png" />

    <meta name="keywords" content="<%= meta_keywords %>" />
    <meta name="description" content="<%= meta_description %>" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="google-site-verification" content="by6W7B4QIEZf5yc1MoQlex0GuqL2U9ekI9YTCSzX5wg" />

    <!-- Mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' tgype='text/css'>

    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">

        <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
        <link href="assets/stylesheets/_kbslider/bootstrap.min.css" rel="stylesheet">
        <link href="assets/stylesheets/_kbslider/style.css" rel="stylesheet">
        <link href="assets/stylesheets/_kbslider/m-styles.min.css" rel="stylesheet">
        <link href="assets/stylesheets/_kbslider/font-awesome.min.css" rel="stylesheet">
        <!-- Styles needed for this example -->
        <link href="assets/stylesheets/_kbslider/mightyslider.css" rel="stylesheet">
        <link href="assets/stylesheets/_kbslider/mightyslider.animate.css" rel="stylesheet">
        <link href="assets/stylesheets/_kbslider/custom.css" rel="stylesheet">


        <link rel="stylesheet" type="text/css" href="http://cloud.typography.com/7219312/623924/css/fonts.css" />
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <%= favicon_link_tag 'favicon.ico' %>
        <%= render 'layouts/wistia_golden_ticket' %>
        <!-- Wistia Google Analytics -->
        <%= render 'layouts/wistia_ga' %>
        <%= javascript_include_tag "vendor/modernizr" %>
        <%= canonical_tag -%>

    </head>
    <body class="<%= yield (:body_class) %>">
        <%= render 'layouts/landingnav' %>
        <%= yield %>
        <%= render 'layouts/landingfooter' %>
        <%= render 'layouts/googleanalytics' %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <script src="//fast.wistia.com/assets/external/embed_shepherd-v1.js"></script>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/javascripts/kbslider/jquery.js"></script>
    <script src="assets/javascripts/kbslider/jquery.migrate.min.js"></script>
    <script src="assets/javascripts/kbslider/jquery.mobile.just-touch.js"></script>
    <script src="assets/javascripts/kbslider/bootstrap.min.js" type="text/javascript"></script>
    <script src="assets/javascripts/kbslider/retina.js" type="text/javascript"></script>
    <script src="assets/javascripts/kbslider/jquery.easing-1.3.pack.js" type="text/javascript"></script>
    <script src="assets/javascripts/kbslider/jquery.stellar.js" type="text/javascript"></script>

    <!-- Begin: JavaScript files needed for this template -->
    <script src="assets/javascripts/kbslider/src/tweenlite.js" type="text/javascript"></script>
    <script src="assets/javascripts/kbslider/src/mightyslider.js" type="text/javascript"></script>
    <script src="assets/javascripts/kbslider/src/mightyslider.animate.plugin.min.js" type="text/javascript"></script>
    <!-- End -->

    <script src="assets/javascripts/kbslider/custom.js" type="text/javascript"></script>


    </body>
    </html>
